body {
  background-color: #f0dbbe;
}
#mainContent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  background-color: #f0dbbe;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
#stats {
  position: relative;
  float: left;
  width: 480px;
}
#amount {
  font-size: 70px;
  color: #fff;
  position: absolute;
  top: 150px;
  left: 210px;
}
#last {
  font-size: 70px;
  color: #fff;
  position: absolute;
  top: 550px;
  left: 160px;
}
.buttonStyle {
  border-radius: 4px;
  border: thin solid #f0e020;
  padding: 5px;
  background-color: #f8f094;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #630;
  width: 75px;
}
.buttonStyle:hover {
  border: thin solid #fc0;
  background-color: #fcf9d6;
  color: #963;
  cursor: pointer;
}
.buttonStyle:active {
  border: thin solid #9c0;
  background-color: #f5ffd2;
  color: #690;
  cursor: pointer;
}
