body
  background-color #F0DBBE

#mainContent
  font-family Arial, Helvetica, sans-serif
  font-size xx-large
  font-weight bold
  background-color #f0dbbe
  border-radius 4px
  padding 10px
  text-align center

#stats
  position relative
  float left
  width 480px

#amount
  font-size 70px
  color white
  position absolute
  top 150px
  left 210px

#last
  font-size 70px
  color white
  position absolute
  top 550px
  left 160px

.buttonStyle
  border-radius 4px
  border thin solid #F0E020
  padding 5px
  background-color #F8F094
  font-family "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
  font-weight bold
  color #663300
  width 75px
  &:hover
    border thin solid #FFCC00
    background-color #FCF9D6
    color #996633
    cursor pointer
  &:active
    border thin solid #99CC00
    background-color #F5FFD2
    color #669900
    cursor pointer

